body {
  background: #16a085;
  color: white;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#answer {
  width: 50%;
  margin: 0 auto;
  padding: 5em;
}

figure {
  margin: 0 auto;
  text-align: center;
}

.throbber-loader {
  display: block!important;
  margin: 0 auto!important;
}

button {
  display: block;
  margin: 1em auto;
  color: white;
  background: #2c3e50;
  font-weight: bold;
  border: none;
  padding: 0.5em;
  font-size: 90%;
  text-transform: uppercase;
  transition: all 0.250s;
}

button:focus, 
button:hover {
  background: white;
  color: #2c3e50;
}

img {
  width: 100%;
}
